<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
<div th:fragment="main" class="container">
    <div class="block" id="employeesTable">
        <div class="table-container">
            <table class="table is-striped is-fullwidth">
                <thead>
                <tr>
                    <th>Acciones</th>
                    <th>Legajo</th>
                    <th>Empleado</th>
                    <th>Fecha Nacimiento</th>
                    <th>Fecha Ingreso</th>
                </tr>
                </thead>
                <tbody>
                <tr v-if="employees" v-for="employee in employees" :key="employee.idEmployee">
                    <td></td>
                    <td>{{employee.idEmployee}}</td>
                    <td>{{employee.name}} {{employee.lastname}}</td>
                    <td>{{employee.birthdate}}</td>
                    <td>{{employee.registrationDate}}</td>
                </tr>
                </tbody>

            </table>
        </div>
        <div>
            <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                <button :class="{'is-disabled': firstPage, 'is-loading': loading}" @click="fetchData(prevPage)" class="pagination-previous">Previous</button>
                <button :class="{'is-disabled': lastPage, 'is-loading': loading}" @click="fetchData(nextPage)" class="pagination-next">Next page</button>
                <ul class="pagination-list">
                    <li><button :class="{'is-loading': loading}" class="pagination-link" @click="fetchData(1)" aria-label="Goto page 1">1</button></li>
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                    <li v-if="!firstPage"><button :class="{'is-loading': loading}" class="pagination-link" @click="fetchData(prevPage)" >{{ prevPage }}</button></li>
                    <li><button :class="{'is-loading': loading}" class="pagination-link is-current">{{ page }}</button></li>
                    <li v-if="!lastPage"><button :class="{'is-loading': loading}" class="pagination-link" @click="fetchData(nextPage)">{{ nextPage }}</button></li>
                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                    <li><button :class="{'is-loading': loading}" class="pagination-link" @click="fetchData(totalPages)">{{ totalPages }}</button></li>
                </ul>
            </nav>
        </div>
    </div>
    <script th:src="@{/js/vue.global.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script th:inline="javascript">
        const {createApp, ref} = Vue

        const tableApp = createApp({
            data() {
                return {
                    employees: null,
                    page: 1,
                    size: 10,
                    totalPages: null,
                    totalRecords: null,
                    loading: true,
                    firstPage: true,
                    lastPage: false,
                    prevPage: 0,
                    nextPage: 2,
                }
            },
            created() {
                this.fetchData(1)
            },
            methods: {
                fetchData(page) {
                    this.loading = true
                    axios.get("/api/v1/employees/search?page=" + page + "&size=" + this.size)
                        .then(result => {
                            result = result.data
                            console.log(result)
                            this.employees = result.data
                            this.page = result.page
                            this.prevPage = result.page - 1
                            this.nextPage = result.page + 1
                            this.totalPages = result.totalPages
                            this.totalRecords = result.totalRecords
                            this.firstPage = result.page <= 1
                            this.lastPage = result.page >= result.totalPages
                            this.loading = false
                        })
                },
            },

        })

        tableApp.mount('#employeesTable')

    </script>
</div>

</body>
</html>