<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
<div class="container has-background-grey-lighter" sec:authorize="hasRole('ROLE_USER')" th:fragment="main">
    <div class="section" id="employeesTable">
        <div class="columns">
            <div class="column is-2-desktop">
                <form @submit.prevent="onSubmit">
                    <div class="columns">
                        <div class="column">

                            <div class="field">
                                <label class="label is-size-7">Tamaño Página</label>
                                <div class="control">
                                    <label>
                                        <input v-model="size" class="input is-small" type="number">
                                    </label>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label is-size-7">Nombre</label>
                                <div class="control">
                                    <input v-model="filters.name" class="input is-small" type="text">
                                </div>
                            </div>

                            <div class="field">
                                <label class="label is-size-7">Apellido</label>
                                <div class="control">
                                    <input v-model="filters.lastname" class="input is-small" type="text">
                                </div>
                            </div>

                            <div class="field">
                                <label class="label is-size-7">Nacimiento</label>
                                <div class="control">
                                    <input v-model="filters.birthdate" class="input is-small" type="date">
                                </div>
                            </div>

                            <div class="field">
                                <label class="label is-size-7">Fecha Registro</label>
                                <div class="control">
                                    <input v-model="filters.registrationDate" class="input is-small"
                                           type="date">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label is-size-7">Ordenamiento</label>
                                <div class="select is-small">
                                    <select>
                                        <option v-for="field in orderByFields">{{ field.fieldName }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label is-size-7">Orden</label>
                                <div class="select is-small">
                                    <select>
                                        <option>Ascendiente</option>
                                        <option>Descendiente</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="button is-primary">Buscar</button>
                </form>
            </div>
            <div class="column">
                <div class="table-container">
                    <table class="table is-striped is-fullwidth">
                        <thead>
                        <tr>
                            <th>Acciones</th>
                            <th>Legajo</th>
                            <th>Empleado</th>
                            <th>Fecha Nacimiento</th>
                            <th>Fecha Ingreso</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-if="employees" v-for="employee in employees" :key="employee.idEmployee">
                            <td></td>
                            <td>{{employee.idEmployee}}</td>
                            <td>{{employee.name}} {{employee.lastname}}</td>
                            <td>{{employee.birthdate}}</td>
                            <td>{{employee.registrationDate}}</td>
                        </tr>
                        </tbody>

                    </table>
                </div>
                <div>
                    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                        <button :class="{'is-disabled': firstPage, 'is-loading': loading}"
                                @click="fetchEmployeePage(prevPage)"
                                class="pagination-previous">Previous
                        </button>
                        <button :class="{'is-disabled': lastPage, 'is-loading': loading}"
                                @click="fetchEmployeePage(nextPage)"
                                class="pagination-next">Next page
                        </button>
                        <ul class="pagination-list">
                            <li>
                                <button :class="{'is-loading': loading}" class="pagination-link"
                                        @click="fetchEmployeePage(1)"
                                        aria-label="Goto page 1">1
                                </button>
                            </li>
                            <li><span class="pagination-ellipsis">&hellip;</span></li>
                            <li v-if="!firstPage">
                                <button :class="{'is-loading': loading}" class="pagination-link"
                                        @click="fetchEmployeePage(prevPage)">{{
                                    prevPage }}
                                </button>
                            </li>
                            <li>
                                <button :class="{'is-loading': loading}" class="pagination-link is-current">{{ page }}
                                </button>
                            </li>
                            <li v-if="!lastPage">
                                <button :class="{'is-loading': loading}" class="pagination-link"
                                        @click="fetchEmployeePage(nextPage)">{{
                                    nextPage }}
                                </button>
                            </li>
                            <li><span class="pagination-ellipsis">&hellip;</span></li>
                            <li>
                                <button :class="{'is-loading': loading}" class="pagination-link"
                                        @click="fetchEmployeePage(totalPages)">
                                    {{ totalPages }}
                                </button>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/vue.global.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script th:inline="javascript">
        const {createApp, ref} = Vue

        const tableApp = createApp({
            data() {
                return {
                    employees: null,
                    page: 1,
                    size: 10,
                    totalPages: null,
                    totalRecords: null,
                    loading: true,
                    firstPage: true,
                    lastPage: false,
                    prevPage: 0,
                    nextPage: 2,
                    filters: {
                        name: "",
                        lastname: "",
                        birthdate: "",
                        registrationDate: "",
                        orderBy: "",
                        order: "ASC",
                    },
                    orderByFields: [],
                }
            },
            mounted() {
                this.fetchOrderByFields()
                this.fetchEmployeePage(1)
            },
            methods: {
                onSubmit(e) {
                    this.fetchEmployeePage(1)
                },
                fetchOrderByFields() {
                    let url = "/api/v1/employees/search/order-by-fields"
                    axios.get(url)
                        .then(result => {
                            result = result.data
                            this.orderByFields = result
                        })
                },
                fetchEmployeePage(page) {
                    this.loading = true
                    let url = "/api/v1/employees/search?page=" + page + "&size=" + this.size
                    let filters = this.filters

                    if (filters.name) {
                        url = url + "&name=" + filters.name
                    }
                    if (filters.lastname) {
                        url = url + "&lastname=" + filters.lastname
                    }
                    if (filters.birthdate) {
                        url = url + "&birthdate=" + filters.birthdate
                    }
                    if (filters.registrationDate) {
                        url = url + "&registrationDate=" + filters.registrationDate
                    }
                    if (filters.orderBy) {
                        url = url + "&orderBy=" + filters.orderBy + "&order=" + filters.order
                    }
                    console.log(url)
                    axios.get(url)
                        .then(result => {
                            result = result.data
                            console.log(result)
                            this.employees = result.data
                            this.page = result.page
                            this.prevPage = result.page - 1
                            this.nextPage = result.page + 1
                            this.totalPages = result.totalPages
                            this.totalRecords = result.totalRecords
                            this.firstPage = result.page <= 1
                            this.lastPage = result.page >= result.totalPages
                            this.loading = false
                        })
                },
            },
        })

        tableApp.mount('#employeesTable')

    </script>
</div>

</body>
</html>