<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
<div class="container">

    <h1>Busqueda de empleados</h1>
    <a th:href="@{/employees/home}">Home</a>
    <!--/*@thymesVar id="filters" type="api.system.empresa.dto.GetEmployeesRequest"*/-->
    <div class="block">
    </div>
    <div class="block">
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
            <tr>
                <th>Legajo</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha de nacimiento</th>
                <th>Ingreso</th>
            </tr>
            </thead>
            <tbody th:if="${employees != null}">

            <tr th:each="employee : ${employees.data}">
                <td th:text="${employee.idEmployee}"></td>
                <td th:text="${employee.name}"></td>
                <td th:text="${employee.lastname}"></td>
                <td th:text="${#dates.format(employee.birthdate, 'dd-MM-yyyy')}"></td>
                <td th:text="${#dates.format(employee.registrationDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
            </tr>
            </tbody>
        </table>
        <form class="pagination is-centered" action="#" th:action="@{/employees/search}"
              th:object="${filters}"
              method="post">
            <div th:if="${employees.page > 1}">
                <button type="submit" th:href="@{/employees/search}" th:field="*{page}" th:value="${employees.page - 1}"
                        class="pagination-previous">Previous
                </button>
            </div>
            <div th:if="${employees.page == 1}">
                <p class="pagination-previous is-disabled">Previous</p>
            </div>
            <a class="pagination-next">Next page</a>
            <ul class="pagination-list">
                <li>
                    <button type="submit" th:href="@{/employees/search}" class="pagination-link"
                            th:field="${filters.page}" th:value="1">1
                    </button>
                </li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li th:if="${employees.page > 1}">
                    <button type="submit" th:href="@{/employees/search}"
                            class="pagination-link" th:field="*{page}"
                            th:value="${employees.page - 1}"
                            th:text="${employees.page - 1}"></button>
                </li>
                <li>
                    <button type="submit" th:href="@{/employees/search}" class="pagination-link is-current"
                            th:field="${employees.page}"
                            th:text="${employees.page}"></button>
                </li>
                <li th:if="${employees.totalPages > employees.page}">
                    <button type="submit" th:href="@{/employees/search}"
                            class="pagination-link"
                            th:field="*{page}"
                            th:value="${employees.page + 1}"
                            th:text="${employees.page + 1}"></button>
                </li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li>
                    <button type="submit" class="pagination-link" th:field="*{page}" th:value="${employees.totalPages}"
                            th:text="${employees.totalPages}"></button>
                </li>
            </ul>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Tamaño Página</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input" type="number" th:field="*{size}" placeholder="Cant. Registros"/>
                            <span>
                                <ul>
                                    <li th:errors="*{size}" class="help is-danger"></li>
                                </ul>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>