<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
<div class="container">

    <h1>Busqueda de empleados</h1>
    <a th:href="@{/employees/home}">Home</a>
    <!--/*@thymesVar id="filters" type="api.system.empresa.dto.GetEmployeesRequest"*/-->
    <div class="block">
    </div>
    <div class="block">
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
            <tr>
                <th>Legajo</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha de nacimiento</th>
                <th>Ingreso</th>
            </tr>
            </thead>
            <tbody th:if="${employees != null}">

            <tr th:each="employee : ${employees.data}">
                <td th:text="${employee.idEmployee}"></td>
                <td th:text="${employee.name}"></td>
                <td th:text="${employee.lastname}"></td>
                <td th:text="${#dates.format(employee.birthdate, 'dd-MM-yyyy')}"></td>
                <td th:text="${#dates.format(employee.registrationDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
            </tr>
            </tbody>
        </table>
        <nav th:if="${employees != null}" class="pagination is-centered" role="navigation" aria-label="pagination">
            <a type="submit" class="pagination-previous" th:if="${filters.page > 1}"
               th:href="@{/employees/search(page=${filters.page - 1}, size=${filters.size})}">Previous</a>
            <a class="pagination-previous is-disabled" th:unless="${filters.page > 1}">Previous</a>
            <a type="submit" class="pagination-next" th:if="${filters.page < employees.totalPages}"
               th:href="@{/employees/search(page=${filters.page + 1}, size=${filters.size})}">Next page</a>
            <a class="pagination-next is-disabled" th:unless="${employees.page < employees.totalPages}">Next page</a>
            <ul class="pagination-list">
                <li><a class="pagination-link" th:href="@{/employees/search(page=1, size=${filters.size})}"
                       th:text="1"></a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li th:if="${employees.page > 1}"><a class="pagination-link"
                                                     th:href="@{/employees/search(page=${employees.page - 1}, size=${filters.size})}"
                                                     th:text="${employees.page - 1}"></a></li>
                <li><a class="pagination-link is-current"
                       th:href="@{/employees/search(page=${employees.page}, size=${filters.size})}"
                       th:text="${employees.page}"></a></li>
                <li th:if="${employees.page < employees.totalPages}"><a class="pagination-link"
                                                                        th:href="@{/employees/search(page=${employees.page + 1}, size=${filters.size})}"
                                                                        th:text="${employees.page + 1}"></a></li>
                <li th:if="${employees.page != employees.totalPages}"><span class="pagination-ellipsis">&hellip;</span>
                </li>
                <li th:if="${employees.page != employees.totalPages}"><a class="pagination-link"
                                                                         th:href="@{/employees/search(page=${employees.totalPages}, size=${filters.size})}"
                                                                         th:text="${employees.totalPages}"></a></li>
            </ul>
        </nav>
        <form method="get" action="#" th:action="@{/employees/search(page=${filters.page}, size=${filters.size})}"
              th:object="${filters}">
            <button type="submit" class="button is-info">Cambiar tamaño</button>
            <input th:if="${employees != null}" th:field="${filters.page}" th:value="${employees.page}" hidden="hidden"
                   placeholder="Numero de Página"/>
            <input th:unless="${employees != null}" th:field="${filters.page}" th:value="10" hidden="hidden"
                   placeholder="Numero de Página"/>


            <label class="label">Registros por pagina</label>
            <div class="control">
                <p th:if="${#fields.hasErrors('size')}" th:errorclass="error" th:errors="*{size}"
                   class="help is-danger"></p>
                <div class="field">
                    <input class="input" type="number" th:field="*{size}" placeholder="Registros por Página" id="size">
                </div>
            </div>

        </form>
    </div>

</div>
</body>
</html>