<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="UTF-8">
    <title>Employee System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<div class="has-background-primary-light">
    <main th:replace="~{${fragmentName} :: ${fragmentTag}}"></main>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>